{{define "title"}}
    S-Tier Tinkerer Tech
{{end}}

{{define "content"}}

    {{if eq .config.Minimal false}}
    <div section horizontal class="two-spots">
        <input id="search" type="text"
               placeholder="Search Products and Links"
               class="flex-1"
               value="{{.config.Query}}"
                />
        <div button-group>
            <button id="lookup" href="/">Search</button>
        </div>
        <script>
            document.querySelector("#search").addEventListener("keyup", (e) => {
                document.querySelector('#lookup').setAttribute('href', '/search?q=' + e.target.value);
                if (e.keyCode === 13) {
                    document.querySelector("#lookup").click();
                }
            });
        </script>
    </div>

    <div section>
        <div tag-group radio>
            {{range $id, $tag := .tags}}
                {{if ne $tag.Name "affiliate"}}
                    <a href="/tags/{{$tag.Name}}" tag action style="--tag-color:{{$tag.Color}}">{{$tag.Name}}</a>
                {{end}}
            {{end}}
        </div>
    </div>
    {{end}}

    {{ block "highlight" . }}{{end}}

    <div section grid>
        {{range $product := .products}}
        <div item>
            {{if eq $.config.Dated true}}
                <div timestamp>{{$product.Created | toTimeAgo}}</div>
            {{end}}
            <div img style="background-image: url('/api/files/products/{{ $product.Id }}/{{ $product.Image }}?thumb=400x400')"></div>
            <div name>{{$product.Name}}</div>
            <button href="/link/{{$product.Id}}">
                {{(index $.merchants $product.MerchantId).Label}}
            </button>
            <div tag-group>
            {{range $tag := ($product.Tags | toTagList)}}
                {{if ne $tag.Name "affiliate"}}
                    <a tag href="/tags/{{$tag.Name}}" style="background-color: {{$tag.Color}}">{{$tag.Name}}</a>
                {{end}}
            {{end}}
            </div>
        </div>
        {{end}}
    </div>
{{end}}
