{{define "content"}}

    {{if eq .config.Minimal false}}
    <div section horizontal class="two-spots">
        <input id="search" type="text"
               placeholder="Search Products and Links"
               class="flex-1"
               value="{{.config.Query}}"
                />
        <div button-group>
            <button id="lookup" href="/">Search</button>
        </div>
        <script>
            function updateSearch(e) {
                document.querySelector('#lookup').setAttribute('href', '/search?q=' + e.target.value);
                if (e.keyCode === 13) {
                    document.querySelector("#lookup").click();
                }
            }
            const searchbox = document.querySelector("#search");
            searchbox.addEventListener("keydown", updateSearch);
            searchbox.addEventListener("keyup", updateSearch);
            searchbox.addEventListener("change", updateSearch);
            searchbox.addEventListener("focusout", updateSearch);
        </script>
    </div>

    <div section>
        <div tag-group radio>
            {{range $id, $tag := .tags}}
                {{if ne $tag.Name "affiliate"}}
                    <a href="/tags/{{$tag.Name}}" tag action style="--tag-color:{{$tag.Color}}">{{$tag.Name}}</a>
                {{end}}
            {{end}}
        </div>
    </div>
    {{end}}

    {{ block "highlight" . }}{{end}}

    <div section grid>
        {{if .products}}
            {{range $product := .products}}
            <div item>
                {{if eq $.config.Dated true}}
                    <div timestamp>{{$product.Created | toTimeAgo}}</div>
                {{end}}
                <div img style="background-image: url('/api/files/products/{{ $product.Id }}/{{ $product.Image }}?thumb=400x400')"></div>
                <div name>{{$product.Name}}</div>
                <button href="/link/{{$product.Id}}"
                data-ph-capture-attribute-product-id="{{$product.Id}}"
                data-ph-capture-attribute-product-name="{{$product.Name}}"
                data-ph-capture-attribute-product-merchant="{{(index $.merchants $product.MerchantId).Name}}"
                >
                    {{(index $.merchants $product.MerchantId).Label}}
                </button>
                <div tag-group>
                {{range $tag := ($product.Tags | toTagList)}}
                    {{if ne $tag.Name "affiliate"}}
                        <a tag href="/tags/{{$tag.Name}}" style="background-color: {{$tag.Color}}">{{$tag.Name}}</a>
                    {{end}}
                {{end}}
                </div>
            </div>
            {{end}}
        {{else}}
            <h3>No products found.</h3>
        {{end}}
    </div>
{{end}}
